<div class="hero-section">
	<div class="{{ settings.text_alignment }}">
		<h1>{{ settings.text_title }}</h1>
		<p>{{ settings.text_copy }}</p>
		<a href="{{ settings.cta_url }}" target="_blank">{{ settings.cta_text }}</a>
	</div>
</div>

